.block1 {
    background: rgb(145, 93, 194);
}

.block2 {
    background: rgb(51, 150, 153);
    color: rgb(177, 226, 43);
}

.block3 {
    background: rgb(131, 51, 51);
    color: rgb(241, 234, 234);
}

.block4 {
    background: yellowgreen;
    color: rgb(15, 7, 15);
}
